.closet__container {
  width: 50%;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  row-gap: 0.5rem;
  z-index: 10;
  left: 0;
  display: grid;
  position: fixed;
}

.closet__carousel {
  margin-left: 10%;
  width: 100%;
  height: calc(80vh / 3);
  text-align: center;
  overflow: hidden;
  position: relative;
}

.closet__carousel .closet__slider {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 15%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 20s linear infinite;
  z-index: 2;
}

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-4deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-4deg) rotateY(360deg);
  }
}

.closet__carousel .closet__slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(250px);
}

.closet__carousel .closet__slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
